@import 'yamanote.common';

.controls {
  height: 80px;

  .time {
    float: left;
    width: 160px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
  }

  .slider, .options {
    float: right;
    padding: 10px 10px 10px 0;
    width: calc(100% - 160px);
    height: 40px;
  }

  .slider {
    padding-bottom: 5px;

    input {
      width: 100%;
    }
  }

  .options {
    padding-top: 5px;

    label + label {
      margin-left: 1rem;
    }
  }
}

.output {
  height: calc(100vh - 80px);
}
